@import "ui-variables";

#atomify {
  display: inline-block;
  margin-left: 10px;
}

#atomify-player-details {
  display: inline-block;
  vertical-align: middle;
  margin-left: 10px;
}

#atomify-track-details {
  display: inline-block;
  vertical-align: middle;
  // fixed width because length of music details
  // always changes slightly and minor div width
  // changes get distracting
  max-width: 300px;
  // hacky, but to support "Not Open" case
  min-width: 25px;
}

.atomify-player-icon {
  margin-left: 1.5em;
  vertical-align: middle;
}
